<!DOCTYPE html>
<html ng-app='pokeApp'>
<head>
	<link rel='stylesheet' type='text/css' href='stylesheet.css'>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<title>Pokedex</title>
</head>
<body ng-controller='MainCtrl'>
<div class='container'>
<!-- <div class='container'>
	<div class='navbar navbar-inverse'></div>

<h1 id='title_'>Dien's POKEDEX</h1>
<div id='mainPokedex'>
	<div class='pokedex'>
		<img src='{{pokeImg}}'>
		<br>
		<p>Name: <strong>{{pokedex.name}}</strong></p>
		<p >Type : {{t.name}}</p>
		
	</div>
			<button class='btn-sm btn-primary text-center' ng-click='randomPokemon()'>next pokemon</button>
</div>
</div> -->



<div id="pokedex">
  <div id="left">
    <div id="logo"></div>
    <div id="bg_curve1_left"></div>
    <div id="bg_curve2_left"></div>
    <div id="curve1_left">
      <div id="buttonGlass">
        <div id="reflect"> </div>
      </div>
      <div id="miniButtonGlass1"></div>
      <div id="miniButtonGlass2"></div>
      <div id="miniButtonGlass3"></div>
    </div>
    <div id="curve2_left">
      <div id="junction">
        <div id="junction1"></div>
        <div id="junction2"></div>
      </div>
    </div>
    <div id="screen">
      <div id="topPicture">
        <div id="buttontopPicture1"></div>
        <div id="buttontopPicture2"></div>
      </div>
      <div id="picture">
        <img src="{{pokeImg}}" alt="psykokwak" height="170" />
      </div>
      <div id="buttonbottomPicture"></div>
      <div id="speakers">
        <div class="sp"></div>
        <div class="sp"></div>
        <div class="sp"></div>
        <div class="sp"></div>
      </div>
    </div>
    <BUTTON ng-click='randomPokemon()'><div id="bigbluebutton"></div></BUTTON>
    <div id="barbutton1"></div>
    <div id="barbutton2"></div>
    <div id="cross">
      <div id="leftcross">
        <div id="leftT"></div>
      </div>
      <div id="topcross">
        <div id="upT"></div>
      </div>
      <div id="rightcross">
        <div id="rightT"></div>
      </div>
      <div id="midcross">
        <div id="midCircle"></div>
      </div>
      <div id="botcross">
        <div id="downT"></div>
      </div>
    </div>
  </div>
  <div id="right">
    <div id="stats">
     <p ><strong>Name :</strong> {{pokedex.name}}</p>
     <p ng-repeat='t in pokedex.types'>Type : {{t.name}}</p>
     <p ><strong>Height :</strong> {{pokedex.height}}</p>
     <p ><strong>Weight :</strong> {{pokedex.weight}}</p>
      <!-- <p ng-repeat='d in pokedex.descriptions'><strong> Description : </strong> {{d.description[0]}}</p> -->
    </div>
    <div id="blueButtons1">
      <div class="blueButton"></div>
      <div class="blueButton"></div>
      <div class="blueButton"></div>
      <div class="blueButton"></div>
      <div class="blueButton"></div>
    </div>
    <div id="blueButtons2">
      <div class="blueButton"></div>
      <div class="blueButton"></div>
      <div class="blueButton"></div>
      <div class="blueButton"></div>
      <div class="blueButton"></div>
    </div>
    <div id="miniButtonGlass4"></div>
    <div id="miniButtonGlass5"></div>
    <div id="barbutton3"></div>
    <div id="barbutton4"></div>
    <div id="yellowBox1"></div>
    <div id="yellowBox2"></div>
    <div id="bg_curve1_right"></div>
    <div id="bg_curve2_right"></div>
    <div id="curve1_right"></div>
    <div id="curve2_right"></div>
  </div>
</div>

</div>

<script src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDh6Uq3OAZq612sq6gz48YNLvO8G3hl5so",
    authDomain: "pokedex-95071.firebaseapp.com",
    databaseURL: "https://pokedex-95071.firebaseio.com",
    storageBucket: "pokedex-95071.appspot.com",
  };
  firebase.initializeApp(config);
</script>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src='app.js'></script>

</html>